<a href="https://colab.research.google.com/github/accelleratorcloud/PublicNotebooks/blob/main/exploringtypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **exploring types in python**

for starters, let's look at a list. because I'm lazy,  I didn't want to keep typing quotes, so I gave 2 lists of classname variables inside another list called types_to_explore.

In [ ]:
types_to_explore = [
    [ bool, int, str, bytes, float],
    [ list, tuple, set, dict ]
    ]

next,  I did an import of the essential numpy library. ndarray is the standard for arrays in python.  

numpy is "aliased" to np.   if 2 libraries have the same name, aliasing can avoid a name conflict.

next, I imported ndarray.   arrays are much more efficient than python lists.

In [ ]:
import numpy as np
from numpy import ndarray

here I iterate through the list of simple types,  and because they are classes, I get the .__name__ string for each class.  

then I do the same for complex types.

In [ ]:
simpletypes = types_to_explore[0]
for t in simpletypes:
  print(t.__name__)

bool
int
str
bytes
float

In [ ]:
complextypes = types_to_explore[1]
for t in complextypes:
  print(t.__name__)

list
tuple
set
dict

python's boolean value stores a 0 or 1,  but displays as False or True.

In [6]:
bool(0), bool(1)

(False, True)

python's int data type allows insanely large integers.

In [7]:
x = -987654321987654321987654321987654321987654321
x

-987654321987654321987654321987654321987654321

a float can be entered directly,  constructed from a string, or constructed from another type of variable.  

commas signify a tuple -  here a tuple of 3 numbers is created as the return value.

In [10]:
float1 = 3.14
float2 = float("3.14")
float3 = float(x)
float1, float2, float3

(3.14, 3.14, -9.876543219876543e+44)