<a href="https://colab.research.google.com/github/accelleratorcloud/PublicNotebooks/blob/main/exploringtypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **exploring types in python**

for starters, let's look at a list. because I'm lazy,  I didn't want to keep typing quotes, so I gave 2 lists of classname variables inside another list called types_to_explore.

In [37]:
types_to_explore = [
    [ bool, int, str, bytes, float],
    [ list, tuple, set, dict ]
    ]

here I iterate through the list of simple types,  and because they are classes, I get the .__name__ string for each class.  

then I do the same for complex types.

In [39]:
simpletypes = types_to_explore[0]
for t in simpletypes:
  print(t.__name__)

bool
int
str
bytes
float

In [40]:
complextypes = types_to_explore[1]
for t in complextypes:
  print(t.__name__)

list
tuple
set
dict

python's boolean value stores a 0 or 1,  but displays as False or True.

In [41]:
bool(0), bool(1)

(False, True)

python's int data type allows insanely large integers.

In [42]:
x = -987654321987654321987654321987654321987654321
x

-987654321987654321987654321987654321987654321

a float can be entered directly,  constructed from a string, or constructed from another type of variable.  

commas signify a tuple -  here a tuple of 3 numbers is created as the return value.

In [43]:
float1 = 3.14
float2 = float("3.14")
float3 = float(x)
float1, float2, float3

(3.14, 3.14, -9.876543219876543e+44)

strings can use single or double quotes.  this makes it easier to copy and paste in text that has the other type of quote in it.

In [44]:
name = 'Bob'

greeting = "Hello!"             # a single pair limits to a single line.
greeting = f"Hello {name}"      # an "f-string" can stuff variables inside.


# a multi-line string allows storing mail merge letters or HTML files in a string.
document = f"""
  Dear {name},
  this is to inform you that this document has many lines.
  Sincerely,
"""

the multi-line document embeds newline characters in the string

In [45]:
document

'\n  Dear Bob,\n  this is to inform you that this document has many lines.\n  Sincerely, \n'

printing it displays as expected

In [46]:
print(document)

  Dear Bob,
  this is to inform you that this document has many lines.
  Sincerely,

the str() constructor converts other types to a string.

In [47]:
str(True), str(3.14), str(7), str([1,2,3])

('True', '3.14', '7', '[1, 2, 3]')

while indexable, tuples are immutable and can't be modified after they are created.

In [48]:
strtests = str(True), str(3.14), str(7), str([1,2,3])

for test in strtests:
  print(test)

True
3.14
7
[1, 2, 3]

the elements of a tuple can be READ by index ( -1 is a convenient way of saying, last element )

In [49]:
strtests[0], strtests[-1]

('True', '[1, 2, 3]')

tuples can't be modified by index though:

In [50]:
strtests[0] = "help"

TypeError: ignored

lists can be modified by index.

In [ ]:
listtests = [ str(True), str(3.14), str(7), str([1,2,3]) ]
listtests

In [ ]:
listtests[0] = "squanch!"
listtests

lists can hold heterogeous types.

In [ ]:
crazylist = [
    listtests,
    [1,2,3],
    "a string",
    ("a","tuple","of","strings")

]

In [ ]:
for item in crazylist:
  print(type(item))

In [ ]:
for item in crazylist[-1]:
  print(item)

each of the constructors above are all of the "type" type,  while their instances are of the various types.

when we do dir() on INSTANCES of the set type,  they have no __name__ property.  the class itself does have a name property.

In [ ]:
for t in complextypes:
  print(t.__name__, type(t))

dir()  gives a LIST of all methods for a class.  a lot of the methods preceded by __  "dunder methods"  correspond to operators like + - and == .

we will pass each dir to the set constructor to make them a set instead.

In [ ]:
boolmethods = set(dir(bool))
intmethods  = set(dir(int))
floatmethods = set(dir(float))

In [ ]:
intersect1  = boolmethods.intersection(intmethods)   #  return set intersection

commonmethods =  boolmethods & intmethods & floatmethods   #  &  is the bitwise and operator,  &&  is the logical and operator.   & for sets means intersection.
commonmethods

In [ ]:
True.as_integer_ratio()    # why bool has this property I have no idea.

In [ ]:
boolmethods - commonmethods

In [ ]:
floatmethods - commonmethods

In [ ]:
dir(type)

In [ ]:
type.__module__

While the Python standard library has it's own array implementation,  NumPy  (  https://numpy.org ) is the De Facto array library for Python.  

NumPy is an open source project that enables numerical computing with Python. It was created in 2005 building on the early work of the Numeric and Numarray libraries. NumPy will always be 100% open source software and free for all to use. It is released under the liberal terms of the modified BSD license.

[Numpy is the go to package for arrays in Python.](https://github.com/numpy/numpy)

![image.png]()

numpy is "aliased" to np.   if 2 libraries have the same name, aliasing can avoid a name conflict.

next, I imported ndarray.   arrays are much more efficient than python lists.

In [2]:
import numpy as np
from numpy import ndarray

a Python List ( or list of lists ) is used to initialize a numpy array.

In [3]:
vector = np.array([3, 4, 5])
vector

array([3, 4, 5])

In [4]:
type(vector)

numpy.ndarray

a Numpy ndarray can be added to a list like any other object.

In [5]:
crazylist[0] = vector
crazylist

NameError: ignored

since we are back talkign about crazylist again,  inside of complex data structures it's important to keep in mind the nested datatype.

In [ ]:
crazylist[1][0] = 9        # will succeed since it's a list
crazylist[3][0] = "bang"   # will fail since it's a tuple

In [6]:
listoflists = [
    [0,1,2],
    [3,4,5],
    [6,7,8]
]
threebythreearray = np.array(listoflists, dtype=np.int64)
threebythreearray

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [8]:
threebythreearray.ndim    # the array has 2 dimensions or axes

2

Numpy arrays have a shape - the number of items along each axis.  we see there are 3 rows ( axis 0 )  and 3 columns ( axis 1).   the number of axes is the same as ndim

In [10]:
threebythreearray.shape

(3, 3)

NumPy introduces an important technique for accessing data:  array rows and columns can be accessed with a tuple, with a slice element for each axis.

In [12]:
threebythreearray[:,0]   #  the first axis says return all ( : symbol )  for the second axis, return the first element.   so first Colummn for each  Row.

array([0, 3, 6])

In [14]:
import numpy as np           # it's okay to reimport the library and makes it convenient for running bits of code independently

# Create three 3x3 arrays array1 is 1-9, array2 is 11-19, array3 is 21-29
array1 = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
array2 = np.array([[11, 12, 13], [14, 15, 16], [17, 18, 19]])
array3 = np.array([[21, 22, 23], [24, 25, 26], [27, 28, 29]])

# Stack the arrays into a 3x3x3 array along the new axis (axis=0)
result_array = np.stack((array1, array2, array3), axis=0)

print(result_array)

[[[ 1  2  3]
  [ 4  5  6]
  [ 7  8  9]]

 [[11 12 13]
  [14 15 16]
  [17 18 19]]

 [[21 22 23]
  [24 25 26]
  [27 28 29]]]

In [17]:
get_array1 = result_array[0,:,:]    # get all rows and columns from layer 0
get_array1

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [18]:
low_numbers = result_array[:,0,:]
low_numbers

array([[ 1,  2,  3],
       [11, 12, 13],
       [21, 22, 23]])

the popular Pandas Library is built on top of NumPy

In [ ]:
import pandas as pd
from io import StringIO

# Sample CSV data as a string
csv_data = """Name,Age,Grade
John,20,85
Alice,19,92
Bob,21,78
Emma,20,88"""

# Convert the string to a StringIO object
string_io = StringIO(csv_data)

# Read CSV data from the StringIO object using pd.read_csv()
df = pd.read_csv(string_io)

# Print the DataFrame
print(df)

the SymPy library allows solving equasions symbolically.

In [1]:
from sympy import symbols, Eq, solve

x, y = symbols('x y')

eq1 = Eq(2*x + y, 5)
eq2 = Eq(x - 3*y, 12)

solutions = solve((eq1, eq2), (x, y))

x_value = solutions[x]
y_value = solutions[y]

print("x =", x_value)
print("y =", y_value)

x = 27/7
y = -19/7